{
  "openapi": "3.0.0",
  "info": {
    "title": "Bookstore API",
    "description": "API for managing books, authors, categories, orders, and reviews.",
    "version": "1.0.0",
    "contact": {
      "name": "API Support",
      "email": "support@bookstore.com"
    }
  },
  "servers": [
    {
      "url": "https://api.bookstore.com/v1"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "Book": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "title": { "type": "string" },
          "authorId": { "type": "string" },
          "price": { "type": "number" }
        }
      },
      "Author": {
        "type": "object",
        "properties": { "id": { "type": "string" }, "name": { "type": "string" } }
      },
      "Category": {
        "type": "object",
        "properties": { "id": { "type": "string" }, "name": { "type": "string" } }
      },
      "Order": {
        "type": "object",
        "properties": { "id": { "type": "string" }, "bookIds": { "type": "array", "items": { "type": "string" } } }
      },
      "Review": {
        "type": "object",
        "properties": { "id": { "type": "string" }, "bookId": { "type": "string" }, "rating": { "type": "integer" } }
      },
      "PaginatedResponse": {
        "type": "object",
        "properties": { "data": { "type": "array", "items": { "type": "object" } }, "total": { "type": "integer" } }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": { "message": { "type": "string" }, "code": { "type": "integer" } }
      }
    }
  },
  "paths": {
    "/books": {
      "get": {
        "summary": "List books",
        "responses": { "200": { "description": "Success", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PaginatedResponse" } } } } }
      },
      "post": {
        "summary": "Create book",
        "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Book" } } } },
        "responses": { "201": { "description": "Created" }, "400": { "description": "Bad Request" } }
      }
    },
    "/books/{id}": {
      "get": {
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "Found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Book" } } } }, "404": { "description": "Not Found" } }
      },
      "put": {
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Book" } } } },
        "responses": { "200": { "description": "Updated" }, "400": { "description": "Bad Request" } }
      },
      "delete": {
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "204": { "description": "Deleted" }, "500": { "description": "Internal Server Error" } }
      }
    },
    "/authors": {
      "get": { "responses": { "200": { "description": "Success" } } }
    },
    "/categories": {
      "get": { "responses": { "200": { "description": "Success" } } }
    },
    "/orders": {
      "post": { "responses": { "201": { "description": "Created" } } }
    },
    "/reviews": {
      "post": { "responses": { "201": { "description": "Created" } } }
    }
  }
}