{
  "openapi": "3.0.0",
  "info": {
    "title": "Bookstore API",
    "description": "API for managing books, authors, categories, orders, reviews, and wishlists.\n\n### Rate Limiting\n- Authenticated users: 100 requests per minute.\n- Anonymous users: 20 requests per minute.",
    "version": "1.0.0",
    "contact": {
      "name": "API Support",
      "email": "support@bookstore.com"
    }
  },
  "servers": [
    {
      "url": "https://api.bookstore.com/v1"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "Book": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "title": { "type": "string" },
          "authorId": { "type": "string" },
          "price": { "type": "number" },
          "format": {
            "type": "string",
            "enum": [
              "hardcover",
              "paperback",
              "ebook",
              "audiobook"
            ]
          }
        }
      },
      "WishlistItem": {
        "type": "object",
        "required": [
          "bookId"
        ],
        "properties": {
          "id": { "type": "string", "readOnly": true },
          "bookId": { "type": "string" },
          "addedAt": { "type": "string", "format": "date-time" }
        }
      },
      "PaginatedResponse": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "type": "object" } },
          "total": { "type": "integer" }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": { "type": "string" },
          "code": { "type": "integer" }
        }
      }
    }
  },
  "paths": {
    "/search": {
      "get": {
        "summary": "Search books",
        "parameters": [
          { "name": "query", "in": "query", "schema": { "type": "string" } },
          { "name": "category", "in": "query", "schema": { "type": "string" } },
          { "name": "price_min", "in": "query", "schema": { "type": "number" } },
          { "name": "price_max", "in": "query", "schema": { "type": "number" } },
          { "name": "sort_by", "in": "query", "schema": { "type": "string", "enum": ["price_asc", "price_desc", "title"] } }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaginatedResponse" }
              }
            }
          },
          "400": { "description": "Invalid query parameters" },
          "500": { "description": "Internal Server Error" }
        }
      }
    },
    "/wishlist": {
      "get": {
        "summary": "List wishlist items",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaginatedResponse" }
              }
            }
          },
          "500": { "description": "Internal Server Error" }
        }
      },
      "post": {
        "summary": "Add item to wishlist",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/WishlistItem" } }
          }
        },
        "responses": {
          "201": { "description": "Added to wishlist" },
          "400": { "description": "Bad Request" },
          "500": { "description": "Internal Server Error" }
        }
      }
    },
    "/wishlist/{id}": {
      "delete": {
        "summary": "Remove item from wishlist",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "204": { "description": "Deleted" },
          "404": { "description": "Not Found" },
          "500": { "description": "Internal Server Error" }
        }
      }
    }
  }
}